p {
    font-size: 20px;
    text-align: center;
    text-align: middle;
  }
  
  i {
    float: right;
    margin-top: 5px;
    font-size: 25px;
    color: gray;
  }
  
  .bg-light .rounded .m-3 {
      height:40px;
  }